<h1>{{title}}</h1>
<p>Welcome to {{title}} - This is V1.0 of this display utility. Most issues are fixed. Images do not display in emails but should be linked in the attachments box. The code for the processor is here: https://github.com/computid/YahooGroupArchiveTopicsToPostgressProcessor and the code for this web display is here: https://github.com/computid/YahooArchiveWebViewer</p>
{{{table}}}
